.custom-cursor-active {
  cursor: none !important; /* Esconde o cursor padrão */
}

.custom-cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: radial-gradient(circle at center, rgba(255, 62, 108, 0.6) 0%, rgba(255, 62, 108, 0) 70%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: screen;
  transition: width 0.2s, height 0.2s, opacity 0.2s;
}

/* Efeito para links e botões */
a:hover ~ .custom-cursor,
button:hover ~ .custom-cursor {
  width: 60px;
  height: 60px;
  opacity: 0.8;
}